.welcome {
  min-height: 120vh;
  background-color: rgb(43, 43, 43);
  padding: 50px;
  .banner {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(165, 165, 165);
    padding: 20px;
    h2 {
      font-size: 40px;
    }
    img {
      margin: auto;
      width: 100px;
      left: 50px;
    }
  }

  .main {
    .search {
      margin: 0 auto;
      background-color: rgb(110, 110, 110);
      padding: 10px;
      input {
        background: rgba(255, 255, 255, 0);
        height: 35px;
        font-size: 30px;
        border: 0px solid #cacaca;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        &::placeholder {
          color: rgb(170, 170, 170);
        }
      }
      button {
        background-color: rgb(150, 150, 150);
        color: rgb(206, 206, 206);
        font-size: 16px;
        border: 0px solid #cacaca;
        &:hover,
        &.current {
          background-color: #cacaca;
          color: rgb(7, 7, 7);
        }
      }
    }
    .list {
      background-color: rgb(177, 177, 177);
      min-height: 100vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media only screen and (max-width: 936px) {
    padding: 50px 0 0 0;
    .main {
      .list {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  @media only screen and (max-width: 634px) {
    .main {
      .list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media only screen and (max-width: 390px) {
    padding: 70px 0 0 0;
    .main {
      .list {
        grid-template-columns: 1fr;
      }
    }
  }
}
