.navbar {
  background-color: rgb(218, 218, 218);
  padding: 5px 15px;
  width: 100%;
  z-index: 2;
  position: fixed;
  h1 {
    display: inline-block;
    margin: 0 40px;
    font-size: 20px;
  }
  .buttons {
    display: inline-block;
    button {
      background-color: rgb(192, 192, 192);
      color: black;
      border: 1px solid #707070;
      &:hover,
      &.current {
        background-color: #707070;
        color: white;
      }
    }
  }
  @media only screen and (max-width: 655px) {
    .buttons,
    h1 {
      display: block;
      text-align: center;
    }
  }
}
